//main

@mixin galeria($display, $padding, $ancho, $centrado){
    display: $display;
    flex-wrap: wrap;
    padding: $padding;
    width: $ancho;
    text-align: $centrado;
}

.galeria{
    background-color: map-get($map: $colores-fondo, $key: tercero);
    @include galeria(flex, 20px 0 80px 0, 100%, center);
    h1{
        padding: 100px 0 30px 0;
        width: 100%;
        text-align: center;
    }
    img{
        margin: 15px;
        border: 1px solid #c8a46d;
    }
}