.container-turno {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(../imagenes/turno/fondo.jpg);
    background-size: 100%;
    background-repeat: repeat;
    .turno__titulo {
        width: 100%;
        height: 10%;
        padding: 20px 0px 0px;
        text-align: center;
    }
    .turno__formulario {
        display: flex;
        flex: row;
        padding: 40px;
        justify-content: space-around;
        width: 100%;
        height: 65%;
    }
    .turno__footer {
        width: 100%;
        height: 15%;
        padding: 30px;
        text-align: center;
    }
}

//media_query

@media (max-width: 576px){
    .turno__formulario{
        display: flex;
        flex-direction: column;
        width: 100%;
        h2{
            padding: 20px;
        }
    }
}

