/* Error: Undefined variable.
 *    ,
 * 12 |     background-color: map-get($map: $colores-fondo, $key: tercero);
 *    |                                     ^^^^^^^^^^^^^^
 *    '
 *   scss\paginas\galeria.scss 12:37  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 12 \2502      background-color: map-get($map: $colores-fondo, $key: tercero);\d\a    \2502                                      ^^^^^^^^^^^^^^\a    \2575 \a   scss\\paginas\\galeria.scss 12:37  root stylesheet";
}
