//formulario_1
.form {
    background-color: #131313;
    color: #c8a46d;
    font-weight: 100;
    width: 300px;
}

input{
    @extend .form;
}

textarea{
    @extend .form;
    height: 200px;
    resize: none;
}


//formulario_2
.form-transparente{
    background-color: transparent;
    margin: 0 0 10px 0;
}

.input-transparente{
    @extend .form-transparente;
}

.select-transparente{
    @extend .form-transparente;
    color: #c8a46d;
    font-weight: 100;
    
}

